body{
  font-family: 'Lato', sans-serif;
}



.Main{
  background-image: url(/images/minh-pham-OtXADkUh3-I-unsplash.jpg);
  overflow: none;
  background-size: 100%;
  background-position: center;
  width: 100%;
  height: 800px;
  background-color: black;

  
}
#orange{
  color: #ffac7d;
}
.navbar li{
  float: left;
  list-style: none;
}

.left ul li{
  margin-left: 30px;
  justify-content: left;
  display: inline-block;
}

.form{
  text-align: center;
}

.main {
  width: 50%;
  margin: 50px auto;
}

.icons i{
  
  float: right;
  margin-right: 60px; 
}


.middle {
  text-align: center;
  margin: 350px;

}

#butt{
  background-color: #ffac7d;
  border-radius: 60px;
 }
 .image-middle::after{
  align-items: center; 
  float: left;
  
 }

 .img{
  float: left;
  padding: 35px;
  
 }

 .color{
  
  background-color: #ffac7d;
  border-radius: 70px;

 }

 span {
  content: "\2192";
}
.button{
  background-color: #ffac7d;
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 40px;
  border-radius: 10%;
  margin-left: 40%;
}
discoverbutton{
  text-align: center;
}


.popular{
  
  background-color: #002d3d;
  width: 80%;
  height: 430px;
  padding: 40px;
  /* padding-bottom: 80px; */
  color: #ffac7d;
  
}

.images{
  float: left;
  padding: 15px 30px 0px 30px;
  align-items: center; 
  float: left;
}

.btn{
  text-align: center;
  padding: 4px;
  justify-content: center;
  margin-left: 45%;
}

.inspiration {
  color: black;
  background-color: #ffac7d; 
  padding: 0px 180px 0 200px;
}

.bottom-image{
  float: right;
  margin-left: 500px;
}

.find {
  color: black;
  margin-top: 20px;
  padding: 5px;
}

footer{
  width: 100%;
  height: 200px;
  background-color: #002D3D;
  display: flex;
  justify-content: space-between;
  color: white;
}

.main-2{
  height: 400px;
  width: 100%;
}
.orange1{
  color: #002d3d;
}

/* .circle{
  border-radius: 50%;
  border: solid #FFFFFF;
  width: 350px;
  height: 300px;
  margin: 20%;
  padding: 40px;
  text-align: center;
  background-color: #FFFFFF;
} */



